body{
  font-family: arial;
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
}

.yes{
  color: green;
}

.no{
  color: red;
}

.maybe{
  color: orange;
}

#sophocles{
  height: 250px;
  width: 152px;
  background-image: url("../assets/sophocles.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#top{
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#content{
  width: 100%;
}

#welcome{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#search{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#recommendation{
  width: 100%;
  margin-top: 2%;
  font-size: 130%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#recommendation div:hover{
  cursor: pointer;
}

#recommendation div{
  text-align:center;
  margin: auto;
}

input{
  font-size: 120%;
}

button{
  font-size: 120%;
}

#footer{
  width: 100%;
  display: flex;
  margin-top: 2%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer div{
  text-align: center;
}

#github{
  height: 45px;
  width: 45px;
  background-image: url("../assets/github.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: .7;
}

#linkedin{
  height: 50px;
  width: 50px;
  background-image: url("../assets/linkedin.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: .7;
}

#linkedin:hover{
  opacity: 1.0;
}

#github:hover{
  opacity: 1.0;
}

#contact{
  display: flex;
  justify-content: center;
}