.rowpixel{
  display:inline-block;
  box-sizing:border-box;
}


h1{
  background-color: black;
  color: white;
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 60px;
  border-radius: 50px;
}

h1:hover{
  background-color: #ff0066;
  transition-duration: 1s;
}

.colpixel{
  box-sizing:border-box;
  background-color: white;
  height: 20px;
  width: 20px;
}

.stampPic{
  background-color: red;
}

.colpixel {
  border: 1px solid;
  border-color: black;

}

.paletteRow{
  display:inline;
  box-sizing:border-box;
  float: right;
}

.palettePix{
  box-sizing:border-box;
  border: 2px solid;
  border-color: black;
  border-radius: 15px;
  cursor:pointer;
  height: 30px;
  width: 30px;
}

.palettePix:hover{
  transform: scale(1.2);
}

.tools{
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  text-align: center;
 /* padding-top: 15%;
  margin-left: 25%;*/
  font-size: 20px;
  cursor:pointer;
  color: white;
  font-family: 'Quicksand', sans-serif;
  background-color: black;
  border-radius: 15px;
  height: 40px;
  width: 60px;
}


.tools:hover{
  background-color:  #ff0066;
}

#palette{
  display: inline-block;
  position: absolute;
}

#pixelPainter{
  display: inline-block;
  margin-left: 100px;
  box-shadow: 4px;
}
