body{
  font-family: 'Source Sans Pro', sans-serif;
}


#bannerPic {
  width:100%;
  position: relative;
}

#kaley{
  font-size: 60px;
font-family: 'Carrois Gothic SC', sans-serif;
  position: absolute; 
   top: 290px; 
   left: 10px;
   color: white;
   letter-spacing: 5px;
}

#kaley span{
   background: rgb(0, 0, 0);
   background: rgba(0, 0, 0, 0.7);

}


#topmenu{
  font-family: 'Carrois Gothic SC', sans-serif;
  list-style-type: none;
  text-align: center;
}

a{
  color: white;
  text-decoration: none;
  font-size: 35px;
}

a:hover{
  color: #ff4d6a;
}


.navigation{
  display: inline;
  background-color: #ff4d6a;
  padding: 20px;
}

.navigation:hover{
  background-color: white;
}


.sectionTitle{
  font-family: 'Carrois Gothic SC', sans-serif;
  font-size: 40px;
  text-align: center;
  line-height: .5px;
}



.innards{
  border: 1px solid #ff4d6a;
  padding: 10px;
  margin: auto;
  background-color: white;
  width: 85%;
}

#contactform{
  text-align: center;
  border: 1px solid #ff4d6a;
  padding: 10px;
  background-color: white;
  margin: auto;
  width: 25%;

}

footer{
  text-align: center;
  color:#ff4d6a;
}