body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  height: 100%;
  width: 100%;
}

.textBlock{
  font-size: 130%;
}

#top{
  display: flex;
  justify-content: center;
}

#header {
  height: 200px;
  width: 50%;
  text-align: center;
}

#name {
  font-size: 450%;
}

#title{
  margin-top: -50px;
  color: #FF0064;
}

#sub-header{
  width: 100%;
  display: flex;
  justify-content: center;
}

#footer{
  display: flex;
  justify-content: center;
}

#space{
  height: 70px;
  width: 100%;
  background-image: url("../assets/rainbowtape.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: -30px;
}

.tape{
  height: 60px;
  width: 110%;
  background-image: url("../assets/fishtape1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: -30px;
  margin-left: -10px;
}


#content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto;
  height: 100%;
  width: 70%;
  background-image: url("../assets/ByQJs.png");
  background-repeat: repeat;
  background-position: top left;

}

#sub-header{
  font-size: 130%;
}

.portfolio{
  display: inline-block;
  border-style: solid;
  border-color: #FF0064;
  padding: 5%;
  width: 250px;
  color: white;
  background-color: #FF0064;
  text-align: center;
}

.portfolio:hover{
  color: #FF0064;
  background-color: white;
}

#words {
  margin-top: 20px;
  width: 100%;
}

.text-block{
  height: 300px;
  width: 300px;
  border: 1px solid black;
  background-color: white;
}

a {
  color: #FF0064;
  text-decoration: none; }

a:visited {
  color: #FF0064; }

#navigation {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
  justify-content: space-around;
}

.nav{
  color: #666666;
  display: flex;
  justify-content: center;
}

.nav:hover {
  cursor: pointer;
 }

@media (min-width: 600px){
  .nav:hover{
    color: #FF0064;
    transition-duration: .1s;
  }
}