html{
  height: 100%;
  width: 100%;
  display: table;
}

html, body {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Lucida Grande", Tahoma;
  font-size: 16px;
  height: 100%;
  width: 100%;
  display:table-cell;
  display: flex;
  flex-direction: column;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
}

#header{
  width: 100%;
  display: flex;
  justify-content: center;
}

#logo{
  height: 250px;
  width: 250px;
  background-image: url("../assets/kaleyslogo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.pink{
  font-weight: bold;
}

.description{
  color: #666666;
  font-size: 90%;
}

#header-text{
  text-align: left;
}


#navigation {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.nav{
  font-family: "Lucida Grande", Tahoma;
  font-size: 100%;
  font-weight: lighter;
  font-variant: normal;
  text-transform: uppercase;
  color: black;
  margin-top: 10px;
  text-align: center!important;
  letter-spacing: 0.3em;
  display: flex;
  justify-content: center;
  padding: 2px;
}

a{
  color: #73C59C;
  text-decoration: none;
}

#content a:hover{
  text-decoration: underline;
}

.nav:hover{
  cursor: pointer;
}

#content{
  height: 100%;
  background-color: #FFF3F1;
  text-align: center;
  padding: 10px;
  font-size: 80%;
  margin-top: 30px;
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: flex-start;
  width: 70%;
  animation-name: fadeIn;
  animation-duration: 1s;
}

.dropbtn {
  padding: 16px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  margin-top: 26px;
  flex-direction: column;
  position: absolute;
  background-color: #73C59C;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.bio-block{
  margin-left: 15%;
  margin-right: 15%;
}

.links{
  height: 30px;
  opacity: .8;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.links:hover {
  background-color: #98d3b6;
}

.show {
  display:flex;
}

#sub-header{
  font-family: "Lucida Grande", Tahoma;
  font-size: 60%;
  font-weight: lighter;
  font-variant: normal;
  text-transform: uppercase;
  color: #FF0070;
  text-align: center!important;
  letter-spacing: 0.3em;
  width: 100%;
}


#contact{
  display: flex;
  justify-content: center;
}


#git{
  height: 23px;
  width: 23px;
  background-image: url("../assets/github.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#linked{
  height: 27px;
  width: 27px;
  background-image: url("../assets/linkedin.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#mail{
  height: 20px;
  width: 20px;
  background-image: url("../assets/icons/e-mail.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}


.links a{
  color: white;
  text-decoration: none;
}

.links a:visited {
  color: white;
}

@media (min-width: 400px){
  #name{
    font-size: 120%;
  }

  #title{
    display: block;
  }
}

@media (min-width: 900px){
  #name {
    font-size: 200%;
  }

  .nav:hover{
    color: #73C59C;
    transition-duration: .3s;
  }
}

.portfolio-grid {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.portfolio-grid li {
  display: inline-block;
  margin: 5px 5px 5px 5px;
  vertical-align: top;
  width:212px;
}

.portfolio-grid li > a,
.portfolio-grid li > a img {
  width: 100%;
  border: none;
  outline: none;
  display: block;
  position: relative;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.portfolio-grid li > a img:hover {
    border-radius: 50%;
    z-index: 9999;
}


/******************************************
 Animate.CSS By Dan Eden
******************************************/

.animated{
  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  -o-animation-duration:1s;
  animation-duration:1s;
  -webkit-animation-fill-mode:both;
  -moz-animation-fill-mode:both;
  -o-animation-fill-mode:both;
  animation-fill-mode:both;
}

@-webkit-keyframes flipInX {
  0% {
      -webkit-transform: perspective(400px) rotateX(90deg);
      opacity: 0;
  }

  40% {
      -webkit-transform: perspective(400px) rotateX(-10deg);
  }

  70% {
      -webkit-transform: perspective(400px) rotateX(10deg);
  }

  100% {
      -webkit-transform: perspective(400px) rotateX(0deg);
      opacity: 1;
  }
}
@-moz-keyframes flipInX {
  0% {
      -moz-transform: perspective(400px) rotateX(90deg);
      opacity: 0;
  }

  40% {
      -moz-transform: perspective(400px) rotateX(-10deg);
  }

  70% {
      -moz-transform: perspective(400px) rotateX(10deg);
  }

  100% {
      -moz-transform: perspective(400px) rotateX(0deg);
      opacity: 1;
  }
}
@-o-keyframes flipInX {
  0% {
      -o-transform: perspective(400px) rotateX(90deg);
      opacity: 0;
  }

  40% {
      -o-transform: perspective(400px) rotateX(-10deg);
  }

  70% {
      -o-transform: perspective(400px) rotateX(10deg);
  }

  100% {
      -o-transform: perspective(400px) rotateX(0deg);
      opacity: 1;
  }
}
@keyframes flipInX {
  0% {
      transform: perspective(400px) rotateX(90deg);
      opacity: 0;
  }

  40% {
      transform: perspective(400px) rotateX(-10deg);
  }

  70% {
      transform: perspective(400px) rotateX(10deg);
  }

  100% {
      transform: perspective(400px) rotateX(0deg);
      opacity: 1;
  }
}

.flipInX {
  -webkit-backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  -moz-backface-visibility: visible !important;
  -moz-animation-name: flipInX;
  -o-backface-visibility: visible !important;
  -o-animation-name: flipInX;
  backface-visibility: visible !important;
  animation-name: flipInX;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}