@import url('https://fonts.googleapis.com/css?family=Quicksand|Roboto');

$roboto: 'Roboto', sans-serif;
$quicksand: 'Quicksand', sans-serif;

#header{
  text-align: center;
  font-family: $quicksand;
  font-size: 150%;
}

#content{
  display: flex;
  font-family: $roboto;
  margin: auto;
  justify-content: center;
  background-color: #FFDEEB;
  height: 70%;
  width: 90%;
}

#words{
  margin-top: 20px;
  height: 90%;
  width: 95%;
}

a{
  color: #FF0064;
  text-decoration: none;
}

a:visited{
  color: #FF0064;
}

#navigation{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  // margin-left: 10%;
  margin-bottom: 2%;
}

.nav{
  font-family: $quicksand;
  font-size: 140%;
}

.nav:hover{
  cursor: pointer;
  color: #FF0064;
  transition-duration: .2s;
}

// @media screen and (min-width: 600px){
//   .nav{
//     padding:7%
//   }
// }

// @media screen and (min-width: 800px){
//   .nav{
//     padding: 8%;
//   }
// }